/* Page-specific styling */


.paddedLists{
    margin-left:215px;
    position:absolute;

}

.buttonBar{
    position:fixed;
    right:10px;
    top:5px;
    z-index: 1000;
}

.buttonBar>.glyphicon-question-sign{
    float:right;
}

.buttonBar>.glyphicon-off{
    float:right;
}

.buttonBar>.glyphicon{
    margin-right:5px;

    cursor:pointer;
}

.alert{
    position:fixed;
    top:0px;
    width:100%;
    left:0px;
    height:100%;
    background-color: #f6f6f6;

}

#signIn{
    margin-left:10px;
}

.btn-pc{
    background-color: rgba(0, 0, 0, 0);
  background-image: linear-gradient(rgb(97, 184, 212) 0px, rgb(74, 156, 182) 100%);
  background-repeat: repeat-x;
  border-bottom-color: rgb(75, 158, 185);
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-image-outset: 0px;
  border-image-repeat: stretch;
  border-image-slice: 100%;
  border-image-source: none;
  border-image-width: 1;
  border-left-color: rgb(75, 158, 185);
  border-left-style: solid;
  border-left-width: 1px;
  border-right-color: rgb(75, 158, 185);
  border-right-style: solid;
  border-right-width: 1px;
  border-top-color: rgb(75, 158, 185);
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-top-style: solid;
  border-top-width: 1px;
  box-sizing: border-box;
  color: rgb(255, 255, 255);
}

.btn-pc-grey{
    background-color: rgb(255, 255, 255);
  background-image: linear-gradient(rgb(247, 247, 247) 0px, rgb(229, 229, 229) 100%);
  background-repeat: repeat-x;
  border-bottom-color: rgb(184, 184, 184);
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-image-outset: 0px;
  border-image-repeat: stretch;
  border-image-slice: 100%;
  border-image-source: none;
  border-image-width: 1;
  border-left-color: rgb(184, 184, 184);
  border-left-style: solid;
  border-left-width: 1px;
  border-right-color: rgb(184, 184, 184);
  border-right-style: solid;
  border-right-width: 1px;
  border-top-color: rgb(184, 184, 184);
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-top-style: solid;
  border-top-width: 1px;
  box-sizing: border-box;
}
