
#details {
    margin-left: 15px;
}

#details th {
    text-align: left;
    padding-right: 10px;
}


#loginForm{
    margin:10px;
}

.entity-image{
    border-radius:50%;
    margin:3px 4px;
    max-height:48px;
    max-width:48px;
}

#detailTitle{
    text-align: center;
}

#largeImage{
    max-height:96px;
    max-width:96px;
}

.contact{
    display:inline-block;
}

.directorycontact{

    cursor:pointer;
}
.directorycontact:focus, .directorycontact:hover, .directorycontact:active {
    color: #4ea2df;
}

.statusAVAILABLE img{
    border: 2px solid #7d2!important
}

.statusBUSY img {
    border: 2px solid #c00!important
}

.statusAWAY img {
    border: 2px solid #fb3!important
}

.statusOFFLINE img {
    border: 2px solid #666!important
}

.statusOUT_OF_OFFICE img{
    border: 2px solid #ff1dce!important
}

.statusON_QUEUE img{
    border: 2px solid #52cef8!important
}

.align-top{
    vertical-align:top;
}

.personDetailsField{
    margin-left:auto;
    margin-right:auto;
    width:150px;
    margin-top:2px;
    text-align:center;
    background-color:white;
}

#personDetails{
    float:left;
    width:200px;
    height:240px;
    border-color:lightgray;
    display:none;
    margin-right:10px;
    border-right-width:2px;
    border-right-style:solid;
}

#content-main{
    padding-left:20px;
    overflow:auto;
}

.border{
    border-top: 1px solid #E1E1E1;
    margin-top: 2px;
    padding-top: 2px;
}

.contactButton{
    color:#fff;
    border-radius:50%;
    background:#55a9c6;
    height:32px;
    width:32px;
    cursor:pointer;
    margin-top:6px;
    margin-left:auto;
    margin-right:auto;
}

.contactButton>a{
    height:20px;
    width:20px;
    color:#fff;
}

.contactButton i{
    padding-top:9px;
}
