
#details {
    margin-left: 15px;
}

#details th {
    text-align: left;
    padding-right: 10px;
}


#detailTitle{
    text-align: center;
}

#largeImage{
    max-height:96px;
    max-width:96px;
}

.contact{
    display:inline-block;
}

.directorycontact{

    cursor:pointer;
}
.directorycontact:focus, .directorycontact:hover, .directorycontact:active {
    color: #4ea2df;
}


.align-top{
    vertical-align:top;
}

.personDetailsField{
    margin-left:auto;
    margin-right:auto;
    width:150px;
    margin-top:2px;
    text-align:center;
    background-color:white;
}

#personDetails{
    float:left;
    width:200px;
    height:240px;
    border-color:lightgray;
    display:none;
    margin-right:10px;
    border-right-width:2px;
    border-right-style:solid;
}

#content-main{
    padding-left:20px;
    overflow:auto;
}

.border{
    border-top: 1px solid #E1E1E1;
    margin-top: 2px;
    padding-top: 2px;
}
