#audioPlayer{
    width: 96%;
    margin-top: 25px;
    margin-bottom: 25px;

}

#content-main{
    padding-left:2%;

}

#loadingImage {
    height: 15px;
    width: 25px;
    margin-left: auto;
    margin-right: auto;
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: 15px;
    background-image:url('../images/ajax-loader.gif')
}

label{
    display:none;
}

body{
    margin-top:15px;
}
