/* Page-specific styling */


.paddedLists{
    margin-left:250px;
    position:absolute;

}

.buttonBar{
    position:fixed;
    right:10px;
    top:5px;
}

.buttonBar>.glyphicon-question-sign{
    float:right;
}

.buttonBar>.glyphicon-off{
    float:right;
}

.buttonBar>.glyphicon{
    margin-right:5px;

    cursor:pointer;
}

.alert{
    position:fixed;
    top:5px;
    width:95%;
    left:5px;
    height:94%;

}

#signIn{
    margin-left:10px;
}
