#details {
    margin-left: 15px;
}

#details th {
    text-align: left;
    padding-right: 10px;
}


#loginForm{
    margin:10px;
}

.entity-image{
    border-radius:50%;
    margin:3px 4px;
    max-height:48px;
    max-width:48px;
}

#largeImage{
    max-height:96px;
    max-width:96px;
}

.contact{
    display:inline-block;
}

.directorycontact{

    cursor:pointer;
}
.directorycontact:focus, .directorycontact:hover, .directorycontact:active {
    color: #4ea2df;
}

.statusAvailable img{
    border: 2px solid #7d2!important
}

.statusBusy img {
    border: 2px solid #b00!important
}

.statusAway img {
    border: 2px solid #fb3!important
}

.statusOffline img {
    border: 2px solid #666!important
}

.align-top{
    vertical-align:top;
}

.personDetailsField{
    margin-left:auto;
    margin-right:auto;
    width:150px;
    font-size:smaller;
    margin-top:2px;
    text-align:center;
}

.personDetailsField>a{
    font-size:small;
}
.personDetailsField>label{
    font-size:initial;
}

#personDetails{
    float:left;
    width:200px;
    height:240px;
    border-color:lightgray;
    display:none;
    margin-right:10px;
    border-right-width:2px;
    border-right-style:solid;
}

#content-main{
    margin-left:20px;
}

.border{
    border-top: 1px solid #E1E1E1;
    margin-top: 2px;
    padding-top: 2px;
}

#detailPhoneLink{
    cursor:pointer;
}
